body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    overflow-x: hidden;
}

header {
    background-color: #cc0000;
    color: #fff;
    padding: 20px;
    text-align: center;
    animation: fadeIn 2s ease-in-out;
}

nav ul {
    background: #333;
    color: #fff;
    list-style: none;
    padding: 0;
    text-align: center;
    transition: background 0.5s ease;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #cc0000;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

section:hover {
    transform: scale(1.02);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.learn-more {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #cc0000;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.learn-more:hover {
    background-color: #a30000;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
    animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
/* 人物照片的样式 */
.figure-photo {
    width: 200px; /* 图片宽度 */
    height: auto;
    border-radius: 10px; /* 图片圆角效果 */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* 阴影效果 */
    margin-bottom: 20px;
}
